* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
}
.App .prevButton {
  position: fixed;
  top: 50%;
  left: 5%;
}
.App .nextButton {
  position: fixed;
  top: 50%;
  right: 5%;
}
.App button {
  font-family: inherit;
  padding: 10px;
  border: 5px solid lightblue;
  border-radius: 50px;
  background: none;
  cursor: pointer;
}
.App button:focus {
  outline: none;
}
.App button:hover {
  border-color: #443e3e;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}
/* write your parent styles in here for your App.js */
.listContainer {
  padding: 0 10%;
}
.listContainer .characters {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 0;
}
.listContainer .characters .character {
  font-family: 'Antic', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.23%;
  min-height: 100px;
}
.listContainer .characters .character div {
  margin: 10px;
  position: relative;
  border-left: 3px solid salmon;
  border-bottom: 3px solid turquoise;
}
.listContainer .characters .character div .height {
  display: inline-block;
  position: relative;
  top: 50%;
  transform: rotate(-90deg);
}
